{% extends 'base/base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<h1 class="mb-5">Главная страница</h1>
<p class="fs-4 mb-3 px-3">Приложение разработано в рамках тестового задания</p>
<p class="fs-4 mb-3 px-3">Требования, указанные в техническом задании выполнены в полном объеме</p>

<p class="fs-4 mb-3 px-3">Для входа в панель администратора использовать данные: username: admin, password: 0000</p>
<p class="fs-4 mb-3 px-3">
    Данные не скрыты в связи с тем, что приложение тестовое, бизнес-логика реальных процесов отсутствует
</p>

{% endblock %}