{% extends 'base/base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
<h1 class="mb-5">Регистрация нового пользователя</h1>
<form method="POST" class="w-50 ms-5">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Введите имя</label>
        <input type="text" class="form-control" id="username" placeholder="Имя" name="username">
        {% if error_name %}
        <div class="mb-3 text-danger">
            <small>{{error_name}}</small>
        </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <label for="password1" class="form-label">Введите пароль</label>
        <input type="password" class="form-control" id="password1" placeholder="Пароль" name="password1">
    </div>

    <div class="mb-5">
        <label for="password2" class="form-label">Повторите пароль</label>
        <input type="password" class="form-control" id="password2" placeholder="Пароль" name="password2">
        {% if error_pass %}
        <div class="mb-3 text-danger">
            <small>{{error_pass}}</small>
        </div>
        {% endif %}

    </div>

    <input type="submit" value="Зарегистрироваться">
</form>
{% endblock %}